ColumnLimit: 80
UseTab: Never
IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

AllowShortBlocksOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes

BinPackParameters: true
BinPackArguments: true

AlignAfterOpenBracket: Align
PointerAlignment: Left

SpacesInAngles: false
SpaceBeforeParens: Never

NamespaceIndentation: Inner
FixNamespaceComments: true

ReflowComments: true
MaxEmptyLinesToKeep: 1

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

AccessModifierOffset: -4
