ColumnLimit: 80
UseTab: Never
IndentWidth: 2
TabWidth: 2
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AllowShortBlocksOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
PointerAlignment: Left
DerivePointerAlignment: false
SpacesInAngles: false
SpaceBeforeParens: Never
FixNamespaceComments: true
NamespaceIndentation: Inner
ReflowComments: true
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
